# Problem 1

### Part A
> Given a list of integers below in the code (`lst`), print out the numeric properties(odd/even, positive/negative/0) of each element. Notice the property of even/odd is printed out before the positive/negative case. In addition, there is an empty line between each number's properties.

In [ ]:
# Example list: [10, 20, -2, 30, 3, -5]
# Example output: 
# 10 is even
# 10 is positive

# 20 is even
# 20 is positive

# -2 is even
# -2 is negative

# 30 is even
# 30 is positive

# 3 is odd
# 3 is positive

# -5 is odd
# -5 is negative

lst = [2, -4, 1, -3, 29, -29, 0]

### Part B
> Now, we extend the version into print out the index of those numbers. And determine the properties the same as part A. The example output is as below.

In [ ]:
# Example list: [10, 20, -2, 30, 3, -5]
# Example output: 
# The 0th number is even
# The 0th number is positive

# The 1th number is even
# The 1th number is positive

# The 2th number is even
# The 2th number is negative

# The 3th number is even
# The 3th number is positive

# The 4th number is odd
# The 4th number is positive

# The 5th number is odd
# The 5th number is negative

lst = [2, -4, 1, -3, 29, -29, 0]

### Part C 
> Now, we only want to examine those numbers with odd index(e.g. index of 1, 3, ...). Produce the output in the format as part B.

In [ ]:
# Example list: [10, 20, -2, 30, 3, -5]
# Example output: 
# The 1th number is even
# The 1th number is positive

# The 3th number is even
# The 3th number is positive

# The 5th number is odd
# The 5th number is negative

lst = [2, -4, 1, -3, 29, -29, 0]

# Problem 2
### Part 1 
> Given a `dict` consisting of course title as the key and the number of enrollments as the value. The example below can help you understand the representation of this `dict`. Print out all the courses recorded in this `dict` as a comma separated list. The final comma and space are allowed.

In [ ]:
# Example dict: {"STAT311": 124, "CSE121": 812, "INFO201": 127, "CSE446": 120, "CFRM425": 30}
# Example output: STAT311, CSE121, INFO201, CSE446, CFRM425, 

enrollment = {"STAT311": 124, "INFO201": 127, "CSE446": 120, "INFO350": 110, "CSE163": 201, "CSE121": 812, "MATH124": 50, "CFRM425": 30}

### Part 2
> Now, we only want to print out CSE classes along with their enrollment in the following format.

In [ ]:
# Example dict: {"STAT311": 124, "CSE121": 812, "INFO201": 127, "CSE446": 120, "CFRM425": 30}
# Example output: 
# CSE121 has 812 students 
# CSE446 has 120 students

enrollment = {"STAT311": 124, "INFO201": 127, "CSE446": 120, "INFO350": 110, "CSE163": 201, "CSE121": 812, "MATH124": 50, "CFRM425": 30}

### Part 3 
> Now, we only want to print out classes with less than 100 students in the following format.

In [ ]:
# Example dict: {"STAT311": 124, "CSE121": 812, "INFO201": 127, "CSE446": 120, "CFRM425": 30}
# Example output: 
# CFRM425 has 30 students

enrollment = {"STAT311": 124, "INFO201": 127, "CSE446": 120, "INFO350": 110, "CSE163": 201, "CSE121": 812, "MATH124": 50, "CFRM425": 30}